global {
	perm_cache=2048;			# dns缓存大小，单位KB，建议不要写的太大
	cache_dir="/var/pdnsd";		# 缓存文件的位置
#	pid_file = /var/run/pdnsd.pid;	# pid文件，不用管
	run_as="nobody";			# runas，保留默认
	server_ip = 127.0.0.1;		# 设置pdnsd监听请求的IP地址
	server_port=5053;			# pdnsd监听的端口，不要和别的服务冲突即可
	status_ctl = on;			# 保留on
#	paranoid=on;				# 二次请求模式，如果请求主DNS服务器返回的是垃圾地址，就向备用服务器请求
	query_method=tcp_only;	# 请求模式，推荐使用仅TCP模式，UDP模式一般需要二次请求
	neg_domain_pol = off;		# 用到neg domain的话可以试试，不用就不用管
	par_queries = 400;			# 最多同时请求数
	min_ttl = 2d;				# DNS结果最短缓存时间
	max_ttl = 1w;				# DNS结果最长缓存时间
	timeout = 10;				# DNS请求超时时间，单位秒
	udpbufsize=1024;			# 默认
}

/* 这个是server区域，可以定义多组，定义pdnsd的上游dns */
server {
	label= "MIDNS";					# 为这组server起一个名字
	ip = 208.67.222.220,208.67.222.220;		# 填写DNS的IP地址，多个地址逗号分隔，可以换行，分号结尾
#	root_server = on;
	port = 5353;						# 填写DNS的端口，我这里上一级是3.4.5.6，监听的5353
#	proxy_only=on;
	timeout=4;					# 超时值，酌情修改
	uptest=none; 					# 是否进行可用性检查，none=不检查，具体方法看官方文档
	interface=eth0; 				# 可用性检查所用的interface名
	interval=10m;					# 检查频率
	purge_cache=off;				# 如果off，pdnsd不会主动清除缓存中过期的项目 除非缓存满了
#	edns_query=on;				# 是否使用edns
#	exclude=.thepiratebay.org, 
#		.thepiratebay.se,
#		.piratebay.org,
#		.piratebay.se;
}

source {
	owner=localhost;
#	serve_aliases=on;
	file="/etc/hosts";
}

rr {
	name=localhost;
	reverse=on;
	a=127.0.0.1;
	owner=localhost;
	soa=localhost,root.localhost,42,86400,900,86400,86400;
}
